@font-face {
  font-family: 'EurostarRegularExtendedRegular';
  src: url('../fonts/EurostarRegularExtendedRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/EurostarRegularExtendedRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/EurostarRegularExtendedRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/EurostarRegularExtendedRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/EurostarRegularExtendedRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/EurostarRegularExtendedRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body,
button,
input,
select,
textarea {
    font-family: 'EurostarRegularExtendedRegular', sans-serif
}